<div class="container">
  <div class="row d-flex justify-content-center my-4">
    <div class="col-4">
      <div class="form-group">
        <select class="form-control" id="category" name="category">
          <option>家居物業</option>
          <option>交通出行</option>
          <option>休閒娛樂</option>
          <option>餐飲食品</option>
          <option>其他</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <h5 class="mr-5">總金額:</h5>
    <h1 class="text-danger">12000</h1>
  </div>

  <div class="row d-flex justify-content-center mt-5">
    <a class="btn btn-primary" href="" role="button" style="border: 1px solid gray">新增支出</a>
  </div>
</div>